<%- include('partials/header', {title: 'Settings'}) %>

<body>
    <!-- Header -->
    <div class="jumbotron jumbotron-fluid bg-light" style="margin-bottom: 0px; padding-bottom: 5px;">
        <h1 style="display:inline; margin-left: 20px; float: left;"><a href="/"><i class="fas fa-chevron-left"></i></a></h1>
        <h1 style="text-align: center; margin-bottom: 0px;">Settings</h1>
        <br>
    </div>

    <div class="container mt-4">
        <!-- Device Locations -->
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <h4 class="text-center">Device Locations</h4>
                <table class="table table-sm table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>Shortcode</th>
                            <th class="text-right">
                                <a href="#" data-toggle="modal" data-target="#locModal" class="text-white"><i class="fas fa-plus" style="color: limegreen;"></i></a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% locations.forEach(loc => { %>
                        <tr>
                            <td><%= loc.NAME %></td>
                            <td><%= loc.SHORTCODE %></td>
                            <td class="text-right"><a href="/admin/location/delete/<%= loc.ID %>" onclick="return confirm('Delete location?')"><i class="fas fa-times" style="color: red;"></i></a></td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
        <hr class="my-4">

        <!-- Temperature Alarms -->
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <h4 class="text-center">Temperature Alarms</h4>
                <table class="table table-sm table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Email</th>
                            <th>Temperature</th>
                            <th class="text-right">
                                <a href="#" data-toggle="modal" data-target="#alarmModal" class="text-white"><i class="fas fa-plus" style="color: limegreen;"></i></a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% alarms.forEach(alarm => { %>
                        <tr>
                            <td><%= alarm.EMAIL %></td>
                            <td><%= alarm.TEMP %>&deg;</td>
                            <td class="text-right"><a href="/admin/alarm/delete/<%= alarm.ID %>" onclick="return confirm('Delete alarm?')"><i class="fas fa-times" style="color: red;"></i></a></td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
        <hr class="my-4">

        <!-- Temperature Devices -->
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <h4 class="text-center">Temperature Devices</h4>
                <table class="table table-sm table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Name (ID)</th>
                            <th>Shortcode</th>
                            <th>Location</th>
                            <th class="text-right">
                                <a href="#" data-toggle="modal" data-target="#addModal" class="text-white"><i class="fas fa-plus" style="color: limegreen;"></i></a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% devices.forEach(device => { %>
                        <tr>
                            <td><%= device.Name %></td>
                            <td><%= device.Campus %></td>
                            <td><%= device.Location %></td>
                            <td class="text-right"><a href="/admin/device/delete/<%= device.ID %>/<%= device.Name %>" onclick="return confirm('Delete device and all data?')"><i class="fas fa-times" style="color: red;"></i></a></td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
   
    <%- include('partials/modals') %>
    <%- include('partials/footer') %>
</body>
</html>